body {
  font-size: 30px;
}

h1 {
  font-family: rockwell;
  font-size: 300%;
}

p {
  font-family: rockwell;
  font-size: 125%;
}

ul {
  list-style-type: none;
  margin: -7;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 13px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

.active {
  background-color: #4CAF50;
}
