/*Reset CSS*/
*{
    margin: 0px;
    padding: 0px;
    font-family: arial;
}

body {
  font-size: 30px;
  background-color: rgb(234, 231, 220);
}

nav{
    font-size:80%;
    font-family:arial;
    width: 100%;
    margin: 0px;
    padding: 0px;
    background-color: rgb(37, 38, 41);
    position: -webkit-sticky; 
    position: sticky;
    top: 0px;
}

nav ul{
    list-style-type: none;
}

nav ul li{
    float: left;
    width: 10%;
    text-align: center;
    position: relative;
}

nav ul::after{
    content: "";
    display: table;
    clear: both;
}

nav a{
    display: block;
    text-decoration: none;
    color: rgb(234, 231, 220);
    border-bottom: 2px solid transparent;
    padding: 12px 0px;
}

nav a:hover{
    color: rgb(232, 90, 79);
    border-bottom: 2px solid rgb(232, 90, 79);
}

.sous{
    display: none;
    box-shadow: 0px 1px 2px #CCC;
    background-color: rgb(37, 38, 41);
    position: absolute;
    width: 200%;
    z-index: 1000;
}
nav > ul li:hover .sous{
    display: block;
}
.sous li{
    float: none;
    width: 100%;
    text-align: left;
}
.sous a{
    padding: 10px;
    border-bottom: none;
}
.sous a:hover{
    border-bottom: none;
    background-color: rgb(15, 15, 15);
}

.conteneur{
  margin: 50px 20px;
  height: 1500px;
}

h1 {
  font-family: arial;
  font-size: 180%;
  color: rgb(232, 90, 79);
}

h2 {
  font-family: arial;
  font-size: 100%;
  text-align:center;
}

h5 {
  font-family: arial;
  font-size: 60%;
  text-align:center;
}

h4{
  font-family: arial;
  font-size: 200%;
  color: black;
  text-align:center;
}

p {
  font-family: arial;
  font-size: 100%;
  color: rgb(37, 38, 41);
  text-align:center;
}

.box {
  display : flex;
  align-items : center;
  justify-content : center;
  padding : 10px ;
}

div {
  background-color: lightgrey;
  width: 850px;
  border: 10px solid rgb(232, 90, 79);
  padding: 100px;
  margin: 10px;
  margin-left : 10%;
  
}
